#body
{
  background-color: orange;
}

#title
{
  font-size: 100px;
  display: block;
  text-align: center;
}

#letter
{
  display: block;
  margin: auto;
  border-radius: 10px;
}

#button
{
  display: block;
  margin: auto;
  border-radius: 8px;
}

#output{
  font-size: 50px;
  display: block;
  text-align: center;

}
.img{
  display:block;
  margin:auto;
}
